<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <nav th:fragment="sidebar" class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
            <li class="nav-item nav-profile">
                <div class="nav-link">
                    <div class="user-wrapper">
                        <div class="profile-image">
                            <img th:src="@{/images/faces/face1.jpg}" alt="profile image">
                        </div>
                        <div class="text-wrapper">
                            <p class="profile-name">Richard V.Welsh</p>
                            <div>
                                <small class="designation text-muted">Manager</small>
                                <span class="status-indicator online"></span>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-success btn-block">New Project
                        <i class="mdi mdi-plus"></i>
                    </button>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/">
                    <i class="menu-icon mdi mdi-television"></i>
                    <span class="menu-title">Dashboard</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/vendors">
                    <i class="menu-icon mdi mdi-cube-outline"></i>
                    <span class="menu-title">Vendors</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/apps">
                    <i class="menu-icon mdi mdi-apps"></i>
                    <span class="menu-title">Apps</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/districts">
                    <i class="menu-icon mdi  mdi-city"></i>
                    <span class="menu-title">Districts</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/schools">
                    <i class="menu-icon mdi mdi-school"></i>
                    <span class="menu-title">Schools</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
                    <i class="menu-icon mdi mdi-settings"></i>
                    <span class="menu-title">Settings</span>
                    <i class="menu-arrow"></i>
                </a>
                <div class="collapse" id="auth">
                    <ul class="nav flex-column sub-menu">
                        <li class="nav-item">
                            <a class="nav-link" href="/pages/samples/blank-page.html"> Blank Page </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/pages/samples/login.html"> Login </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/pages/samples/register.html"> Register </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/pages/samples/error-404.html"> 404 </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/pages/samples/error-500.html"> 500 </a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </nav>
</html>