<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/default">
    <body>
        <div layout:fragment="content">
            <!-- Breadcrumbs -->
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb bg-white">
                    <li class="breadcrumb-item">
                        <a href="/apps">Apps</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a th:href="@{'/apps/' + ${app.id}}" th:text="${app.name}"></a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page" th:text="${district.name}"></li>
                </ol>
            </nav>

            <!-- Content: Row 1 -->
            <div class="row">
                <div class="col-md-6 col-lg-4 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">District</h4>
                            <div class="shedule-list d-flex align-items-center justify-content-between mb-3">
                                <h3 th:text="${district.name}"></h3>
                                <small th:text="${district.enabled == true ? 'Enabled' : 'Disabled'}" th:classappend="${district.enabled == true ? 'text-success' : 'text-danger'}"></small>
                            </div>
                            <div class="event border-bottom py-3">
                                <p class="mb-2 font-weight-medium">Skype call with alex</p>
                                <div class="d-flex align-items-center">
                                    <div class="badge badge-success">3:45 AM</div>
                                    <small class="text-muted ml-2">London, UK</small>
                                    <div class="image-grouped ml-auto">
                                        <img src="../../../assets/images/faces/face10.jpg" alt="profile image">
                                        <img src="../../../assets/images/faces/face13.jpg" alt="profile image"> </div>
                                </div>
                            </div>
                            <div class="event py-3 border-bottom">
                                <p class="mb-2 font-weight-medium">Data Analysing with team</p>
                                <div class="d-flex align-items-center">
                                    <div class="badge badge-warning">12.30 AM</div>
                                    <small class="text-muted ml-2">San Francisco, CA</small>
                                    <div class="image-grouped ml-auto">
                                        <img src="../../../assets/images/faces/face20.jpg" alt="profile image">
                                        <img src="../../../assets/images/faces/face17.jpg" alt="profile image">
                                        <img src="../../../assets/images/faces/face14.jpg" alt="profile image"> </div>
                                </div>
                            </div>
                            <div class="event py-3">
                                <p class="mb-2 font-weight-medium">Meeting with client</p>
                                <div class="d-flex align-items-center">
                                    <div class="badge badge-danger">4.15 AM</div>
                                    <small class="text-muted ml-2">San Diego, CA</small>
                                    <div class="image-grouped ml-auto">
                                        <img src="../../../assets/images/faces/face21.jpg" alt="profile image">
                                        <img src="../../../assets/images/faces/face16.jpg" alt="profile image"> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 grid-margin stretch-card">
                    <div class="row flex-grow">
                        <div class="col-sm-6 col-md-12 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body">
                                    <p class="font-weight-medium">Sales Statistics</p>
                                    <div class="d-flex justify-content-between mt-2">
                                        <small class="text-muted">Dashboard</small>
                                        <small class="text-info">73%</small>
                                    </div>
                                    <div class="progress progress-md mt-2">
                                        <div class="progress-bar bg-info" role="progressbar" style="width: 73%" aria-valuenow="73" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <p class="mt-4 font-weight-medium">Monthly Sales</p>
                                    <div class="d-flex justify-content-between mt-2">
                                        <small class="text-muted">Charts</small>
                                        <small class="text-primary">30%</small>
                                    </div>
                                    <div class="progress progress-md mt-2">
                                        <div class="progress-bar bg-primary" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 stretch-card">
                            <div class="card card-revenue-table">
                                <div class="card-body">
                                    <div class="revenue-item d-flex">
                                        <div class="revenue-desc">
                                            <h6>Member Profit</h6>
                                            <p class="font-weight-light"> Average Weekly Profit </p>
                                        </div>
                                        <div class="revenue-amount">
                                            <p class="text-primary"> +168.900 </p>
                                        </div>
                                    </div>
                                    <div class="revenue-item d-flex">
                                        <div class="revenue-desc">
                                            <h6>Total Profit</h6>
                                            <p class="font-weight-light"> Weekly Customer Orders </p>
                                        </div>
                                        <div class="revenue-amount">
                                            <p class="text-primary"> +6890.00 </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Box 4: Contacts -->
                <div class="col-md-6 col-lg-4 grid-margin">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Contacts</h4>
                            <div th:each="contact : ${contacts}" class="wrapper d-flex align-items-center py-2 border-bottom" >
                                <button type="button" class="btn btn-icons btn-rounded btn-info"><i class="mdi mdi-code-braces"></i></button>
                                <div class="wrapper ml-3">
                                    <h6 th:text="${contact.name}" class="ml-1 mb-1"></h6>
                                    <small class="text-muted mb-0"><i class="mdi mdi-format-title"></i><span th:text="${contact.email}"></span></small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Content: Row 2 -->
            <div class="row">
                <!-- Box 1: Schools  -->
                <div class="col-sm-6 col-md-6 col-lg-6 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title float-left">Schools</h4>
                            <!--<a th:href="@{/districts/create}">
                                <button type="button" class="btn btn-success btn-fw float-right">Create <i class="mdi mdi-plus"></i></button>
                            </a>-->
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>District</th>
                                        <th>Enabled</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="school : ${schools}">
                                        <td><a th:href="@{'/apps/' + ${app.id} + '/district/' + ${district.id} + '/school/' + ${school.id}}" th:text="${school.locName}"></a></td>
                                        <td>7</td>
                                        <td th:text="${school.enabled}" th:classappend="${school.enabled == true ? 'text-success' : 'text-danger'}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Box 2: Configurables -->
                <div class="col-sm-6 col-md-6 col-lg-6 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Configurables</h4>
                            <div class="row ml-md-0 mr-md-0 vertical-tab tab-minimal">
                                <ul class="nav nav-tabs col-md-2 justify-content-between" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active show" id="tab-2-1" data-toggle="tab" href="#dashboard-2-1" role="tab" aria-controls="dashboard-2-1" aria-selected="true">
                                            <i class="mdi mdi-textbox-password"></i>District AUPP</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="tab-2-2" data-toggle="tab" href="#message-2-2" role="tab" aria-controls="message-2-2" aria-selected="false">
                                            <i class="mdi mdi-message-outline"></i>Messages</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="tab-2-3" data-toggle="tab" href="#campaigns-2-3" role="tab" aria-controls="campaigns-2-3" aria-selected="false">
                                            <i class="mdi mdi-bell-outline"></i>Campaigns</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="tab-2-4" data-toggle="tab" href="#influencers-2-4" role="tab" aria-controls="influencers-2-4" aria-selected="false">
                                            <i class="mdi mdi-account-outline"></i>Influencers</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="tab-2-5" data-toggle="tab" href="#payments-2-5" role="tab" aria-controls="payments-2-5" aria-selected="false">
                                            <i class="mdi mdi-lightbulb-outline"></i>Payments</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="tab-2-6" data-toggle="tab" href="#analytics-2-6" role="tab" aria-controls="analytics-2-6" aria-selected="false">
                                            <i class="mdi mdi-airplay"></i>Analytics</a>
                                    </li>
                                </ul>
                                <div class="tab-content col-md-10">
                                    <div class="tab-pane fade active show" id="dashboard-2-1" role="tabpanel" aria-labelledby="tab-2-1">
                                        <div class="row">
                                            <div class="col-md-7 pl-md-5">
                                                <div class="wrapper mb-4">
                                                    <h4 class="mb-3">
                                                        <i class="mdi mdi-speedometer mr-3"></i>Anonymous Proxy
                                                    </h4>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
                                                </div>
                                                <div class="wrapper mt-4 pt-4">
                                                    <h4 class="mb-3">
                                                        <i class="mdi mdi-speedometer mr-3"></i>Addiction When Gambling
                                                    </h4>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="message-2-2" role="tabpanel" aria-labelledby="tab-2-2">
                                        <div class="row">
                                            <div class="col-md-7 pl-md-5">
                                                <div class="wrapper mb-4">
                                                    <h4 class="mb-3">
                                                        <i class="mdi mdi-speedometer mr-3"></i>Anonymous Proxy
                                                    </h4>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
                                                </div>
                                                <div class="wrapper mt-4 pt-4">
                                                    <h4 class="mb-3">
                                                        <i class="mdi mdi-speedometer mr-3"></i>Addiction When Gambling
                                                    </h4>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="campaigns-2-3" role="tabpanel" aria-labelledby="tab-2-3">
                                        <div class="row">
                                            <div class="col-md-7 pl-md-5">
                                                <div class="wrapper mb-4">
                                                    <h4 class="mb-3">
                                                        <i class="mdi mdi-speedometer mr-3"></i>Anonymous Proxy
                                                    </h4>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
                                                </div>
                                                <div class="wrapper mt-4 pt-4">
                                                    <h4 class="mb-3">
                                                        <i class="mdi mdi-speedometer mr-3"></i>Addiction When Gambling
                                                    </h4>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="influencers-2-4" role="tabpanel" aria-labelledby="tab-2-4">
                                        <div class="row">
                                            <div class="col-md-7 pl-md-5">
                                                <div class="wrapper mb-4">
                                                    <h4 class="mb-3">
                                                        <i class="mdi mdi-speedometer mr-3"></i>Anonymous Proxy
                                                    </h4>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
                                                </div>
                                                <div class="wrapper mt-4 pt-4">
                                                    <h4 class="mb-3">
                                                        <i class="mdi mdi-speedometer mr-3"></i>Addiction When Gambling
                                                    </h4>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="payments-2-5" role="tabpanel" aria-labelledby="tab-2-5">
                                        <div class="row">
                                            <div class="col-md-7 pl-md-5">
                                                <div class="wrapper mb-4">
                                                    <h4 class="mb-3">
                                                        <i class="mdi mdi-speedometer mr-3"></i>Anonymous Proxy
                                                    </h4>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
                                                </div>
                                                <div class="wrapper mt-4 pt-4">
                                                    <h4 class="mb-3">
                                                        <i class="mdi mdi-speedometer mr-3"></i>Addiction When Gambling
                                                    </h4>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="analytics-2-6" role="tabpanel" aria-labelledby="tab-2-6">
                                        <div class="row">
                                            <div class="col-md-7 pl-md-5">
                                                <div class="wrapper mb-4">
                                                    <h4 class="mb-3">
                                                        <i class="mdi mdi-speedometer mr-3"></i>Anonymous Proxy
                                                    </h4>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
                                                </div>
                                                <div class="wrapper mt-4 pt-4">
                                                    <h4 class="mb-3">
                                                        <i class="mdi mdi-speedometer mr-3"></i>Addiction When Gambling
                                                    </h4>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Content: Row 2 -->
        </div>
    </body>
</html>